* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

body {
    width: available;
    height: 100vh;

}

.card{
    border:0!important;
    border-radius: 0!important;
   
}
/* .hr{
    color:#cbc8c8;
} */